* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #ccc;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  color: goldenrod;
  font-size: x-large;
  text-align: center;
  width: 100px;
  height: 100px;
  background-color: green;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  transition: all 0.5s ease;
}
